@font-face {
    font-family: "MyFont";
    src: url("./ZenLoop-Regular.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

.header {
    padding: 10px;
    text-align: left;
    background: rgb(125, 125, 125);
    color: black;
    font-size: 30px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
}

.titleHolder {
    position: fixed;
    top: 12px;; 
    right: 0; 
    bottom: 0; 
    left: 15px;
    margin: auto;
}

.sidePanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgb(175, 175, 175);
    width: 20%;
    top: 120px;
    left: 0px;

}

h1 {
    font-family: "MyFont";
    position: relative;
    top:20px; left:20px; bottom:0; right:0;
    margin: auto;

}