@font-face {
    font-family: "MyFont";
    src: url("./ZenLoop-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

.header {
    padding: 10px;
    text-align: left;
    background: rgb(125, 125, 125);
    color: black;
    font-size: 30px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 100px;
}

.titleHolder {
    position: fixed;
    top: 12px;; 
    right: 0; 
    bottom: 0; 
    left: 15px;
    margin: auto;
}

.sidePanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgb(175, 175, 175);
    width: 20%;
    top: 120px;
    left: 0px;
}

.projectDiv {
    display: flex;
    flex-direction: column;
    font-family: "MyFont";
    padding-left: 20px;
    padding-right: 20px;
}

.projectButton {
    position: relative;
    text-align: left;
    font-size: 18px;
    padding: 5px;
    background: transparent;
    border: transparent;
    transition: all 0.2s linear;
    height: 30px;
    cursor: pointer;
}

.createForm {
    position: relative;
    background: white;
    width: 192px;
    height: 125px;
    padding: 10px;
    visibility: hidden;
}

.titleInput {
    background: rgb(175, 175, 175);
    height: 20px;
}

.submitBtn {
    background: rgb(175, 175, 175);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    position: relative;
    left: 45px;
    top: 20px;
    text-align: center;
    height: 25px;
    width: 100px;
    transition: all 0.2s linear;
    cursor: pointer;
}

button:hover {
    font-size: 20px;
    background: rgba(70, 70, 70, .3) !important;
    border:rgba(100, 100, 100, .3);
    border-radius: 10px;
}

h1 {
    font-family: "MyFont";
    position: relative;
    top:20px; left:20px; bottom:0; right:0;
    margin: auto;

}

label {
    font-size: 20px;
    font-weight: 1000 !important;
}