@font-face {
    font-family: "MyFont";
    src: url("./ZenLoop-Regular.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

#displayArea {
    position: relative;
    bottom: 0;
    right: 0;
    left: 15%;
    top: 10vh;
    margin: auto;
    display: inline-block;
    height: 90vh;
    width: 85%;
    background-color: rgb(220, 220, 220);
}

.header {
    text-align: left;
    background: rgb(75, 75, 75);
    color: white;
    font-size: 30px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 10%;
    display: inline-block;
}

.titleHolder {
    margin: auto;   
    height: 100%;
    width: 100%;
    margin-left: 2%;
}

.sidePanel {
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: rgb(175, 175, 175);
    width: 15%;
    top: 10%;
    left: 0px;
    display: inline-block;
}

.projectDiv {
    display: flex;
    flex-direction: column;
    font-family: "MyFont";
    padding-left: 20px;
    padding-right: 20px;
}

.addProjectDiv {
    align-items: center;
}

.projectButton {
    position: relative;
    text-align: left;
    font-size: 18px;
    padding: 5px;
    background: transparent;
    border: transparent;
    transition: all 0.2s linear;
    height: 30px;
    cursor: pointer;
}

.selected {
    font-size: 20px;
    background: rgba(70, 70, 70, .5) !important;
    border:rgba(100, 100, 100, .3);
    border-radius: 10px;
    font-weight: bold;
}

.createForm {
    position: relative;
    background: white;
    width: 192px;
    height: 125px;
    padding: 10px;
    left: 0;
    right: 0;
    margin: auto;
    width: inherit;
    transition: opacity 0.2s linear;
    text-align: center;
}

.titleInput {
    background: rgb(175, 175, 175);
    height: 20px;
    width: 95%;
    position: relative;
    top: 30px;
}

.submitBtn {
    background: rgb(175, 175, 175);
    border: 1px solid rgb(175, 175, 175);
    border-radius: 10px;
    position: relative;
    top: 45px;
    text-align: center;
    height: 25px;
    width: 100px;
    transition: all 0.2s linear;
    cursor: pointer;
}

.projectHeader {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
}

.projectTitle {
    width: 75%;
    height: 100%;
    font-size: 40px;
    font-family: "MyFont";
}

.titleText {
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    text-decoration: underline;
}

.taskHolder {
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.task {
    height: 30px;
    width: 74%;
    margin-left: 1%;
    display: flex;
    flex-direction: row;
    font-family: "MyFont";
    font-size: 25px !important;
    justify-content: space-around;
    color: black;
    background-color:rgba(70, 70, 70, .3);
    border: 1px solid rgba(125, 125, 125, 0.5);
    border-left: 5px solid rgba(125, 125, 125, 0.5);
}

.removeTask {
    background: rgba(125, 125, 125, 0.3);
    transition: all 0.2s linear;
    border: 1px solid rgba(125, 125, 125, 0.3);
}

.lowPrior {
    border-left: 5px solid green !important;
}

.medPrior {
    border-left: 5px solid orange !important;
}

.highPrior {
    border-left: 5px solid red !important;
}

.taskForm {
    align-items: center;
    font-family: "MyFont";
    justify-content: space-around;
    height: 50px;
    display: flex;
    flex-direction: row;
    transition: opacity 0.2s linear;
    width: 80%;
    margin: auto;
}

.addTaskDiv {
    align-items: center;
    text-align: center;
    width: 74.2%;
    margin-left: 1%;
}

button:hover {
    font-size: 20px;
    background: rgba(125, 125, 125, .5) !important;
    border:rgba(100, 100, 100, .3);
    border-radius: 10px;
}

h1 {
    font-family: "MyFont";
    position: relative;
    top:20px; left:20px; bottom:0; right:0;
    margin: auto;

}

p {
    margin: auto;
}

label {
    font-size: 20px;
    font-weight: 1000 !important;
}

body {
    min-height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    margin: auto;
}